/*!
 * Module-Typography (Style Modules Package)
 * LICENSE: Creative Commons Zero 1.0 (aka CC0 1.0)
 * https://github.com/style-modules/module-typography
 */

body {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: var(--text-font);
}

p {
  font-size: var(--text-size);
  margin-bottom: var(--text-size);
  margin-top: var(--text-size);
}

small {
  font-size: var(--text-small-size);
}

:--headings,
:--headings-display {
  font-weight: var(--text-heading-thickness);
}

:--heading-1 {
  font-size: var(--text-heading-1);
  margin: var(--text-heading-1-spacing);
}

:--heading-2 {
  font-size: var(--text-heading-2);
  margin: var(--text-heading-2-spacing);
}

:--heading-3 {
  font-size: var(--text-heading-3);
  margin: var(--text-heading-3-spacing);
}

:--heading-4 {
  font-size: var(--text-heading-4);
  margin: var(--text-heading-4-spacing);
}

:--heading-5 {
  font-size: var(--text-heading-5);
  margin: var(--text-heading-5-spacing);
}

:--heading-6 {
  font-size: var(--text-heading-6);
  margin: var(--text-heading-6-spacing);
}

:--headings > small,
:--headings-display > small {
  color: var(--text-heading-small-color);
  font-weight: var(--text-heading-small-thickness);
}
